@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  font-family: inherit;
}

button {
  font-family: inherit;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

address {
  font-style: normal;
}

input,
textarea {
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

body,
h2 {
  font-family: "Raleway", sans-serif;
}

h1,
h3,
h4,
button {
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  font-size: 7rem;
}

h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 4rem;
}

body {
  font-size: 1.8rem;
}

p {
  line-height: 1.5;
}

button {
  font-size: 2rem;
  letter-spacing: 0.1em;
}

.top-nav {
  font-size: 2rem;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfb;
  color: #272727;
}

.wrapper {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.highlight {
  color: #C2331A;
}

section {
  padding: calc(5rem + 10vh) 0;
}

h3 {
  text-align: center;
}

@font-face {
  font-family: 'fontello';
  src: url("../../assets/fontello.woff?71294647") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?71294647#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 100%;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-rest-api:before {
  content: '\e800';
}

/* '' */
.icon-firebase:before {
  content: '\e801';
}

/* '' */
.skip-links a {
  position: absolute;
  top: -10rem;
  background-color: white;
  padding: 1rem 2rem;
  font-weight: bold;
}

.skip-links a:focus {
  top: 0;
}

.accent-bar {
  width: 100vw;
  height: 2rem;
  background-color: #C2331A;
}

header {
  padding-top: 2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav li {
  padding: 0 2rem;
}

.top-nav a {
  display: inline-block;
  padding-bottom: 1.4rem;
  text-align: center;
  position: relative;
}

.top-nav a:hover::after, .top-nav a:focus::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #C2331A;
}

#about-section {
  height: 80vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-section h3 {
  text-align: left;
  padding-bottom: 2rem;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container img {
  width: 25%;
  border-radius: 50%;
}

.about-text {
  text-align: left;
  width: 70%;
}

#skills-section {
  padding-top: 0;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  padding-top: 6rem;
}

.skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.skills i {
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

#portfolio-section {
  background-color: #EFEFEF;
}

.portfolio-item {
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem 4rem;
  margin: 8rem 0;
  border-radius: 4rem;
}

.portfolio-item-left {
  text-align: right;
  width: 50%;
}

.portfolio-item-right {
  width: 43%;
}

.portfolio-item-icons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.portfolio-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.portfolio-item:nth-child(even) .portfolio-item-left {
  text-align: left;
}

.portfolio-item:nth-child(even) .portfolio-item-icons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.portfolio-item:nth-child(even) .image-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.portfolio-item .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-item .image-container img {
  max-width: 45rem;
}

.portfolio-item a {
  text-decoration: underline;
  display: inline-block;
  margin-top: 1rem;
}

.portfolio-item-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4rem;
  padding-top: 1rem;
}

.portfolio-item-icons li {
  padding-left: 0.5rem;
  width: 4.5rem;
  height: 4rem;
}

.sidenav {
  position: fixed;
  right: 1rem;
  top: 20rem;
}

.sidenav li {
  padding: 0.3rem;
}

.sidenav a {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #272727;
  border-radius: 50%;
  position: relative;
}

.sidenav a span {
  display: none;
  position: absolute;
  right: 2rem;
  top: -0.8rem;
  white-space: nowrap;
  background-color: #fbfbfb;
  padding: 0.5rem;
  border-radius: 1rem;
}

.sidenav a:hover, .sidenav a:focus {
  background-color: #272727;
}

.sidenav a:hover span, .sidenav a:focus span {
  display: block;
}

#contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  position: relative;
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  gap: 2rem;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
}

.contact-info {
  width: 45%;
}

.contact-name, .contact-email {
  grid-column: span 2;
}

.contact-message {
  grid-row: span 3;
  grid-column: span 4;
}

.contact .g-recaptcha {
  position: absolute;
  z-index: 100;
  bottom: -2rem;
  left: 25%;
}

.contact input,
.contact textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 2px solid #EFEFEF;
}

.contact input:focus,
.contact textarea:focus {
  border: 2px solid #C2331A;
}

.contact button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.contact-info a {
  -webkit-transition: 0.1s color;
  transition: 0.1s color;
  text-decoration: underline;
}

.contact-info a:hover, .contact-info a:focus {
  color: #C2331A;
}

.contact-info p {
  padding-bottom: 1rem;
}

.contact-info a {
  display: inline-block;
  padding-bottom: 1rem;
}

.socials {
  font-size: 3rem;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials a {
  padding: 1rem;
}

.socials li:first-child a {
  padding-left: 0;
}

button {
  background-color: #fbfbfb;
  border: 2px solid #C2331A;
  -webkit-transition: 0.15s color, 0.15s background-color;
  transition: 0.15s color, 0.15s background-color;
}

button:hover, button:focus {
  background-color: #C2331A;
  color: #fbfbfb;
}

.copyright {
  color: white;
  text-align: center;
  height: 3rem;
  overflow: hidden;
}

.float-label {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #C2331A;
  color: #fbfbfb;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.float-label-container {
  position: relative;
  overflow: hidden;
}

.float-label-container input,
.float-label-container textarea {
  padding: 1.5rem;
  -webkit-transition: 0.2s padding;
  transition: 0.2s padding;
}

.float-label-container input:focus,
.float-label-container textarea:focus {
  padding: 0.8rem 1.5rem 2.2rem;
}

.float-label-container input:focus::-webkit-input-placeholder,
.float-label-container textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.float-label-container input:focus:-ms-input-placeholder,
.float-label-container textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.float-label-container input:focus::-ms-input-placeholder,
.float-label-container textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

.float-label-container input:focus::placeholder,
.float-label-container textarea:focus::placeholder {
  opacity: 0;
}

.float-label-container input:focus + label,
.float-label-container textarea:focus + label {
  z-index: 10;
  bottom: 0;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */