// wrapper size
$wrapperWidth: 85%;
$wrapperMaxWidth: 1300px;

$wrapperMobileWidth: 90%;

// font stacks
$fontHeading: 'Bebas Neue', sans-serif;
$fontBody: 'Raleway', sans-serif;

// colors
$black: #272727;
$white: #fbfbfb;
$primaryAccent: #C2331A;

$lightGrey: #EFEFEF;

// pseudo-states
$primaryHover: #f8e6e2;