// font stacks
$fontHeading: 'Bebas Neue', sans-serif;
$fontBody: 'Raleway', sans-serif;

// colors
$black: #272727;
$white: #fbfbfb;
$primaryAccent: #C2331A;

// pseudo-states
$primaryHover: #f8e6e2;
