#about-section {
	height: 80vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	img {
		width: 25%;
		border-radius: 50%;
	}

	p {
		width: 70%;
	}
}