#about-section {
	height: 80vh;
	// min-height: 40rem;
	min-height: calc(30rem + 10vw);

	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;

	
	h3 {
		text-align: left;
		// padding-bottom: 2rem;
		padding-bottom: calc(0.5rem + 0.5vw);
	}
}

.about {
	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		// padding-right: 8rem;
		padding-right: calc(2rem + 2vw);

		img {
			width: 25%;
			border-radius: 50%;
		}

	}

	&-text {
		text-align: left;
		width: 70%;
	}

}