#about-section {
	height: 80vh;

	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;

	
	h3 {
		text-align: left;
		padding-bottom: 2rem;
	}
}

.about {
	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			width: 25%;
			border-radius: 50%;
		}

	}

	&-text {
		text-align: left;
		width: 70%;
	}

}