#contact-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact {
	position: relative;
	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: calc(2rem + 2vw);
	}

	width: 50%;

	&-info {
		width: 45%;
	}

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);

	gap: 2rem;

	&-name,
	&-email {
		grid-column: span 2;
	}

	&-message {
		grid-row: span 3;
		grid-column: span 4;
	}

	.g-recaptcha {
		position: absolute;
		z-index: 100;
		bottom: -2rem;
		left: calc(50% - 15rem);
	}

	input,
	textarea {
		width: 100%;
		height: 100%;

		padding: calc(0.5rem + 0.5vw);

		border: 2px solid $lightGrey;

		&:focus {
			border: 2px solid $primaryAccent;
		}
	}

	button {
		grid-column: 2 / 4;
	}

	&-info {
		a {
			transition: 0.1s color;
			text-decoration: underline;

			&:hover,
			&:focus {
				color: $primaryAccent;
			}
		}

		p {
			padding-bottom: calc(0.5rem + 0.5vw);
		}

		a {
			display: inline-block;
			padding-bottom: calc(0.5rem + 0.5vw);
		}
	}

	@include breakpoint('medium') {
		&-container {
			flex-direction: column;
		}

		width: 100%;

		&-info {
			width: 100%;
			padding-top: 6rem;

			text-align: center;
		}
	}
}

.socials {
	font-size: calc(1.5rem + 1.5vw);

	ul {
		display: flex;
	}

	a {
		padding: calc(0.5rem + 0.5vw);
	}

	li:first-child a {
		padding-left: 0;
	}

	@include breakpoint('medium') {
		ul {
			justify-content: center;
		}
	}
}