#contact-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact {
	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 4rem;
	}

	width: 50%;

	&-info {
		width: 45%;
	}

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);

	gap: 2rem;

	&-name,
	&-email {
		grid-column: span 2;
	}

	&-message {
		grid-row: span 3;
		grid-column: span 4;
	}

	.g-recaptcha {
		grid-row: -2;
		grid-column: 2 / 4;
	}

	input,
	textarea {
		width: 100%;
		height: 100%;

		padding: 1rem;

		border: 2px solid $lightGrey;

		&:focus {
			border: 2px solid $primaryAccent;
		}
	}

	button {
		grid-column: 2 / 4;
	}

	&-info {
		a {
			transition: 0.1s color;
			text-decoration: underline;

			&:hover,
			&:focus {
				color: $primaryAccent;
			}
		}

		p {
			padding-bottom: 1rem;
		}

		a {
			display: inline-block;
			padding-bottom: 1rem;
		}
	}
}

.socials {
	font-size: 3rem;

	ul {
		display: flex;
	}

	a {
		padding: 1rem;
	}

	li:first-child a {
		padding-left: 0;
	}
}