.copyright {
	color: white;
	text-align: center;

	height: calc(1.5rem + 1.5vw);
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;

	@include breakpoint('small') {
		height: 4.5rem;
	}
}