.float-label {
	&-container {
		position: relative;
		overflow: hidden;
	}

	position: absolute;
	left: 0;

	bottom: 100%;
	width: 100%;

	// padding: 1rem;
	padding: calc(0.5rem + 0.5vw);

	background-color: $primaryAccent;
	color: $white;

	text-transform: uppercase;

	opacity: 0;

	transition: 0.2s;
}

.float-label-container {
	input,
	textarea {
		// padding: 1.5rem;
		padding: calc(1rem + 0.5vw);

		transition: 0.2s padding;
		&:focus {
			// padding: 0.8rem 1.5rem 2.2rem;
			padding: calc(0.6rem + 0.2vw) calc(1rem + 0.5vw) calc(1.5rem + 0.7vw);

			&::placeholder {
				opacity: 0;
			}

			& + label {
				z-index: 10;
				bottom: 0;
	
				// font-size: 1.2rem;
				font-size: calc(1rem + 0.2vw);

				// padding: 0.2rem 0.5rem;
				padding: calc(0.1rem + 0.1vw) calc(0.3rem + 0.2vw);

				opacity: 1;

			}
		}
	}
}