#hamburger,
label[for="hamburger"] {
	position: absolute;
	// top: 4rem;
	top: calc(1rem + 1.5vw);
	// right: 5rem;
	right: calc(2rem + 2vw);

	display: none;
}

.top-nav {
	// switch to hamburger menu at medium breakpoint
	@include breakpoint('medium') {
		ul {
			flex-direction: column;
			position: relative;
			right: -150%;

			padding-top: 5rem;

			transition: 0.5s right;
		}

		li {
			margin-bottom: 1rem;
		}

		#hamburger,
		label[for="hamburger"] {
			display: initial;
		}
	}
}

#hamburger {
	opacity: 0;
	

	&:checked {
		& ~ ul {
			right: 0;
		}
	}
}

label[for="hamburger"] {
	cursor: pointer;
	z-index: 100;

	padding: 1rem;

	font-size: 2.5rem;
}

label[for="hamburger"]:hover,
#hamburger:focus + label[for="hamburger"] {
	color: $primaryAccent;
}
