header {
	padding-top: calc(1rem + 1vw);
}

.header {
	display: flex;
	justify-content: space-between;
}

.top-nav {
	ul {
		display: flex;
	}

	li {
		padding: 0 1.5vw;
	}

	a {
		display: inline-block;
		padding-bottom: calc(0.8rem + 0.4vw);

		text-align: center;

		position: relative;

		&:hover,
		&:focus {
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;

				width: 100%;
				height: calc(0.3rem + 0.2vw);

				background-color: $primaryAccent;
			}
		}
	}

}