
h3 {
	text-align: center;
}

.portfolio {
	padding: 6rem 0;

	&-item {
		background-color: #f8f8f8;
		// border: 2px solid #d3d3d3;

		display: flex;
		align-items: center;
		text-align: center;

		// width: 50%;

		// background-color: #756654;

		padding: 2rem;

		// border: 2px solid #b6aa97;
		border-radius: 4rem;


		&-left {
			text-align: right;
			// padding-right: 3rem;

			width: 48%;

			.portfolio-item-icons {
				justify-content: flex-end;
			}

			// display: flex;

			// align-items: flex-start;
		}

		&-right {
			text-align: left;

			width: 48%;

		}

		.image-container {
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					// border: 5px solid $primaryAccent;
					width: 75%;
				}
			}


		a {
			text-decoration: underline;
			display: inline-block;
			margin-top: 1rem;
		}

		&-icons {
			display: flex;
			// justify-content: flex-end;
			font-size: 4rem;

			padding-top: 1rem;

			li {
				padding-left: 0.5rem;
			}

			img {
				height: 4rem;
				width: 4rem;
			}
		}

	}
}