#portfolio-section {
	background-color: $lightGrey;
}

.portfolio {

	&-item {
		background-color: $white;

		display: flex;
		align-items: center;
		justify-content: space-between;
		// text-align: center;

		padding: 6rem 4rem;
		margin: 8rem 0;

		border-radius: 4rem;


		&-left {
			text-align: right;
			width: 50%;
		}

		&-right {
			width: 43%;
		}

		&-icons {
			justify-content: flex-end;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			.portfolio-item {
				&-left {
					text-align: left;
				}
				&-icons {
					justify-content: flex-start;
				}
			}
			.image-container {
				justify-content: flex-end;
			}
		}


		.image-container {
				display: flex;
				// justify-content: center;
				align-items: center;

				img {
					// border: 5px solid $primaryAccent;
					// width: 75%;
					max-width: 45rem;
				}
			}


		a {
			text-decoration: underline;
			display: inline-block;
			margin-top: 1rem;
		}

		&-icons {
			display: flex;
			// justify-content: flex-end;
			font-size: 4rem;

			padding-top: 1rem;

			li {
				padding-left: 0.5rem;
				width: 4.5rem;
				height: 4rem;
			}
		}

	}
}