
h3 {
	text-align: center;
}

.portfolio {
	padding: 6rem 0;

	&-item {
		background-color: #f8f8f8;

		display: flex;
		align-items: center;
		text-align: center;

		padding: 2rem;
		margin: 1rem 0;

		border-radius: 4rem;


		&-left {
			text-align: right;
			width: 48%;
		}

		&-right {
			width: 48%;
		}

		&-icons {
			justify-content: flex-end;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			.portfolio-item {
				&-left {
					text-align: left;
				}
				&-icons {
					justify-content: flex-start;
				}
			}

		}


		.image-container {
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					// border: 5px solid $primaryAccent;
					width: 75%;
				}
			}


		a {
			text-decoration: underline;
			display: inline-block;
			margin-top: 1rem;
		}

		&-icons {
			display: flex;
			// justify-content: flex-end;
			font-size: 4rem;

			padding-top: 1rem;

			li {
				padding-left: 0.5rem;
				width: 4.5rem;
				height: 4rem;
			}
		}

	}
}