#skills-section {
	padding-top: 0;
}

.skills {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);

	// padding-top: 6rem;
	padding-top: calc(4rem + 2vw);

	&-item {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		text-align: center;

		// padding: 2rem;
		padding: calc(1rem + 1vw);
	}

	i {
		// font-size: 5rem;
		font-size: calc(3rem + 2vw);
		display: flex;

		// margin-bottom: 1rem;
		margin-bottom: calc(0.8rem + 0.2vw);
	}

}