html {
	scroll-behavior: smooth;
}

body {
	background-color: $white;
	color: $black;
}

.wrapper {
	width: $wrapperWidth;
	max-width: $wrapperMaxWidth;
	margin: 0 auto;
}

.highlight {
	color: $primaryAccent;
}

section {
	padding: 6rem 0;
}