html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: $white;
	color: $black;
}

.wrapper {
	width: $wrapperWidth;
	max-width: $wrapperMaxWidth;
	margin: 0 auto;

	@include breakpoint('medium') {
		width: $wrapperMobileWidth;
	}
}

.highlight {
	color: $primaryAccent;
}

section {
	padding: calc(2rem + 12vh) 0;
}

h3 {
	text-align: center;
}