html {
	scroll-behavior: smooth;
}

body {
	background-color: $white;
	color: $black;
}

.wrapper {
	width: 80%;
	max-width: 1600px;
	margin: 0 auto;
}

.highlight {
	color: $primaryAccent;
}

section {
	padding: 4rem 0;
}

a {
	transition: 0.1s color;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $primaryAccent;
	}
}