body,
h2 {
	font-family: $fontBody;
}

h1,
h3,
h4,
button {
	font-family: $fontHeading;
}

h1 {
	// font-size: 7rem;
	font-size: calc(3.5rem + 3vw);
	line-height: 1;
	// padding-bottom: 0.5rem;
	padding-bottom: calc(0.2rem + 0.2vw);
}

h2 {
	text-transform: uppercase;
	// font-size: 3.5rem;
	font-size: calc(2rem + 1.3vw);
}

h3 {
	// font-size: 4rem;
	font-size: calc(2.5rem + 1.5vw);
}

h4 {
	// font-size: 4rem;
	font-size: calc(2.5rem + 1.5vw);
}

body {
	// font-size: 1.8rem;
	font-size: calc(1.4rem + 0.4vw);
}

p {
	line-height: 1.5;
}

button {
	// font-size: 2rem;
	font-size: calc(1.5rem + 0.5vw);
	letter-spacing: 0.1em;
}

.top-nav {
	// font-size: 2rem;
	font-size: calc(1.5rem + 0.5vw);
	text-transform: uppercase;
}