body,
h2 {
	font-family: $fontBody;
}

h1,
h3,
h4,
button {
	font-family: $fontHeading;
}

h1 {
	font-size: calc(3.5rem + 3vw);
	line-height: 1;
	padding-bottom: calc(0.2rem + 0.2vw);

	transition: 0.25s font-size;
}

h2 {
	text-transform: uppercase;
	font-size: calc(1.6rem + 1.3vw);

	transition: 0.25s font-size;
}

h3 {
	font-size: calc(2.5rem + 1.5vw);
}

h4 {
	font-size: calc(2.5rem + 1.5vw);
}

body {
	font-size: calc(1.4rem + 0.4vw);
}

p {
	line-height: 1.5;
}

button {
	font-size: calc(1.5rem + 0.5vw);
	letter-spacing: 0.1em;
}

.top-nav {
	font-size: calc(1.5rem + 0.7vw);
	text-transform: uppercase;
}